<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cyber Wise.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CC800AA2C69AADE007F57C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC800BA2C69AAE0007F57C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC800C42C69AAE0007F57C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
